{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/car-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="car-container">
  <div class="car-img">
    <img 
      src="{% static 'images/sk8r-boi-car.svg' %}" 
      alt="A very nice car"
    >
  </div>
  <div class="car-details">
   
  
      <h2>Your code {{ promocode.code }} </h2>
   
    
    {% comment %} <div class='car-actions'>

      <a href={% url 'cars_update' car.id%}>Edit</a>
      <a href={% url 'cars_delete' car.id%}>Delete</a>

    </div> {% endcomment %}

  </div>
</section>

{% endblock %}