{% extends 'base.html' %} {% load static %} {% block head %}

<link
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css"
  rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"></script>

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/car-detail.css' %}"
/>
<script defer src="{% static 'js/car-rent.js' %}"></script>
{% endblock %} {% block content %}

<section class="car-container">
  <div class="car-img"></div>
  <div class="car-details">
    <h1>Car title:{{car.brand}} {{ car.model }}</h1>

    <h2>A {{ car.model }} mileage: {{ car.mileage }}</h2>

    <h2>A like new {{ car.brand }} Car.</h2>

    <p>Mileage is just {{ car.mileage }}</p>
    <div class="car-actions"></div>
  </div>
</section>

<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Rental</h2>
    </div>

    <h3>Choose A rental date</h3>
    <form
      action="{% url 'add_rent' car.id  %}"
      method="post"
      class="subsection-content"
    >
      {% csrf_token %} {{ renting_form.as_p }}
      <button type="submit" class="btn submit">Submit Reservation</button>
    </form>

    <h3>Current rental periods for this Vehicle</h3>

    {% if car.rent_set.all.count %}

    <table>
      <thead>
        <tr>
          <th>SDate</th>
          <th>EDate</th>
          <th>Insurance</th>
          <th>Price</th>
          <th>Renter</th>
          <th>misc</th>
        </tr>
      </thead>
      <tbody>
        {% for rent in car.rent_set.all %}
        <tr>
          <td>{{rent.sdate}}</td>
          <td>{{rent.edate}}</td>
          <td>{{rent.get_insurance_display}}</td>
          <td>${{car.price}}/day</td>
          <td>{{renter}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p class="subsection-content">
      {{car.name}}'s car has never been rented 😟
    </p>
    {% endif %}
  </section>
</div>

<div class="container forms">
  <h1>Edit <span class="teal-text">{{new_profile.user.id}}'s Profile</span></h1>

  <h1>Add Car</h1>

  <form action="" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_p }}
    </table>
    <input type="submit" value="Submit!" class="btn" />
  </form>
</div>

{% endblock %}
