
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="shortcut icon"
    type="image/png"
    href=""
  >
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap" rel="stylesheet">
  <title>Rent a Car</title>
 
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
   
    <nav>
      <ul>
        {% if user.is_authenticated %}

        <li><a href="/">Home</a></li>
        <li><a href={% url 'cars_index'%}>All cars</a></li>
        <li><a href={% url 'about' %}>About</a></li>
        <li><a href={% url 'cars_create' %}> Add a car</a></li>
        <li><a href={% url 'promos_create' %}> Promo Codes</a></li>
        <li><a href={% url 'promocodes_index' %}> All Codes</a></li>
       
            <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'home' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
      
      </ul>
    </nav>
  </header>
  <main>
    {% comment %} <img 
    src="{% static 'images/teslahome.jpeg' %}" 
    alt="A photo of {{car.name}}"
    class="usr-img"
  > {% endcomment %}
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>