
.card-container {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.card {
  width: 275px;
  height: 400px;
 
  margin: 10px;
  border: var(--borders);
  box-shadow: var(--card-box-shadow);
}

.card-content {
  padding: 10px;
  width: 100%;

  
}

.rent-link{
  margin-left: 120px;

}


/* .usr-img {
  width: 100%;
  height: 100%;
 
  border-radius: var(--card-border-radius);
}  */

.card-img-container{
  
  width: 100%;
  height: 40px;
 
}

/* img{
  background-size: cover;

} */


.card > a {
  text-decoration: none;
  color: var(--text-color);
}

.card h2 {
  margin: 10px 0;
  font-size: var(--font-xl);
}

.card p {
  margin: 5px 0;
  font-size: var(--font-reg);
}



.usr-img {
  width: 100%;
  width: 250px;
  height: 190px;
  margin-top: 190px;
}

.car-details h3 {
  margin: 16px 0 10px 0;
}

#file-input {
  overflow: hidden;
  position: absolute;
  width: .1px;
  height: .1px;
}

#file-name {
  margin-bottom: 10px;
}